@mixin rotate {
    &:hover {
    transform: rotateY(360deg);
    transition: all 2s;
    }
}

@mixin headers {
    text-align: center;
    text-transform: uppercase;
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

@mixin parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin query {
    @media screen and (max-width: 600px){
        background-attachment: scroll;
    }
}