//Colors

$color-white: #fff;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black: black; 
$header-background-color: grey;


//Fonts
$header-font: 'Fredericka the Great', cursive;