.education {
    margin-bottom: 4rem;

    &__header {
        @include headers
    }

    &__col {
        text-align: center;
        letter-spacing: .3rem;
    }

    &__heading {
        text-transform: uppercase;
        margin-top: 4rem;
    
    }

    &__info{
        font-size: 1.4rem;
    }
}