.home {
    position: relative;
    height: auto;
    width: auto;

    &__introduction {
        color: $color-white;
        padding-left: 1.5rem;
        text-align: left;
        width: 60%;

        &--header {
            margin-top: 13rem;
            font-size: 14rem;
            font-family: $header-font;
            }

        &--text {
            text-align: left;
            font-size: 2rem;
            margin-bottom: 33rem;
            }

        }       
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.footer {
    text-align: center;

    &__img {
        height: 9rem;
        padding: 1rem;
    }
}

