.home {
    position: relative;
    height: 100%;
    width: 100%;

    &__introduction {
        color: $color-white;
        padding-left: 1rem;

        &--header {
            font-size: 25rem;
            font-family: $header-font;
            text-align: left;
            }

        &--text {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 40rem;
            }

        }       
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

