.projects__header {
    text-align: center;
    text-transform: uppercase;
}

.projects-python {
    background-image: url("/img/landscape1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}