.projects__header {
    text-align: center;
    text-transform: uppercase;
}


.projects-html {
    
}

.projects-javascript {
    background-image: url("/img/landscape1.jpg");
    height: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}